<phpunit bootstrap="../loader.php">
    <filter>
        <whitelist>
            <directory>/src</directory>
        </whitelist>
    </filter>
    <testsuite>
        <directory>./</directory>
    </testsuite>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>